<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-political-insight.ZPM">
    <Module>
      <Name>iris-political-insight</Name>
      <Version>1.0.0</Version>
      <Description>Dados políticos oficiais, busca híbrida e RAG no InterSystems IRIS</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>iris</SourcesRoot>
      <Resource Name="IRISPolitical.PKG"/>
    </Module>
  </Document>
</Export>
